# dependencies
node_modules/

# Expo
.expo/
.expo-export-ios/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/app/build/
ios/build/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.production
.env.development
.env.local
.env.*.local

# typescript
*.tsbuildinfo

# video files
*.mp4
*.mov
*.avi
*.mkv

app-example

# Firebase service account
firebaseServiceAccountKey.json